$color-primary: #1946E5;
$color-secondary: #7388A6;


$color-black: #000000;
$color-grey-dark: #333333;
$color-grey: #cacaca;
$color-grey-light: #808080;

$color-white: #ffffff;
$color-off-white: #EBF0F8;

$color-border: #4C4D6B;
$color-text: #4C4D6B;