@import 'scss/_colors.scss';
$button-height: 50px;
$button-width: 120px;

button {
  border: 0;
  width: $button-width;
  height: $button-height;
  border-radius: 7px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  background-color: $color-primary;
  transition: .3s;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}

.button {
  display: block;
  width: $button-width;
  height: $button-height;
  border-radius: 7px;
  color: white;
  padding-left: 3px;
  padding-right: 3px;

  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &--primary {
    background-color: $color-primary;

    &:hover {
      transition: .3s;
      background-color: darken($color-primary, 10%);
    }
  }

  &--secondary {
    background-color: $color-secondary;

    &:hover {
      transition: .3s;
      background-color: darken($color-secondary, 10%);
    }
  }

  &--ghost {
    background-color: transparent;
    border: 3px solid $color-secondary;
    color: $color-secondary;

    &:hover {
      transition: .3s;
      background-color: darken($color-secondary, 10%);
      color: $color-white;
    }
  }

  &--danger {
    background-color: $color-red;

    &:hover {
      transition: .3s;
      background-color: darken($color-red, 20%);
    }
  }


}