@import '_main.scss';

.command-bar {
  background-color: transparent;
  padding: 0px;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
  }

  .error {
    color: #FF0000;
  }

  form {
    display: flex;
    flex-direction: row;
    background-color: $color-white;
    align-items: baseline;

    *, *:focus {
      border: none;
      outline: none;
      font-size: 0.8rem;
    }

    label {
      padding-left: 0.5rem;
      color: $color-grey-dark;
    }

    button {
      margin: 0;
      border-radius: 0;
      cursor: pointer;
    }
  }
}

#auto-complete {
  background-color: $color-white;
  color: $color-black;
  list-style: none;
  position: absolute;

  li {
    font-size: 0.8rem;
    padding: 0.5rem;
    border-bottom: 1px solid $color-grey;
    cursor: pointer;
  }

  li:hover {
    background-color: darken($color-white, 10%);
  }
}

#command-input {
  width: 100%;
  padding-left: 0;
  margin: 0;
}

.discover-info {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.discover-language {
  margin-top: 0.4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .language-option {
    padding-bottom: 2rem;
  }

  .language-container {
    display: flex;
    flex-direction: row;

    * {
      font-size: 0.8rem;
      background-color: $color-grey;
      color: $color-black;
      padding: 0.5rem 1rem;
      border-radius: 3rem;
      margin-right: 1rem;
    }
    *.language-match {
      background-color: $color-green;
    }
  }
}

.button-container {
  margin-top: 0.4rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
