@import 'scss/_colors.scss';
@import 'scss/_media.scss';

$breakpoint-tablet-portrait: 768px;


body {
  background: url(https://media.giphy.com/media/3ov9jKSjGDn1bMWlcQ/giphy.gif) no-repeat center center fixed;
  background-size: cover;
}

.c-login {
  width: 600px;
  // background-color: rgba($color-secondary, .95);
  background-color: $color-secondary;
  display: flex;
  justify-content: center;
  padding: 40px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include screen-tablet-portrait-and-smaller {
    width: 80%;
  }
}



.c-login-container {
  width: 70%;
}

.c-login__greeting {
  color: $color-white;
  text-align: center;
}


.c-login__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 100%;
    background-color: transparent;
    margin: 10px;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid $color-white;
    color: $color-white
  }

  label {
    align-self: flex-start;
    color: $color-white;
  }
}

.c-login__button-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}