@import '_main.scss';

body {
  max-width: 35rem;
}

main {
  margin-top: 0.5rem;
}

.c-login-container {
  display: flex;
  flex-direction: column;
  blockquote {
    margin-bottom: 0.8rem;
  }
  a {
    margin-top: 0.5rem;
    width: auto;
  }
}

.c-login__subheader {
  margin-bottom: 0.8rem;
  color: $color-white;
}

.c-login__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  input,
  textarea {
    border: 0;
    resize: none;
    outline: none;
    background-color: $color-grey;

    &[type="file"] {
      display: none;
    }
  }

  input:valid {
    border-left: 3px solid #00e676;
  }
  
  input:invalid {
    border-left: 1.5px solid #FF0000;
  }
}

.c-login__button-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.c-login__radio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 1rem;

  label {
    position: relative;
    display: block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $color-grey;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0px;
    }

    &:hover {
      background-color: lighten($color-grey-dark, 10%);
    }
  }

  input[type="radio"], input[type="checkbox"] {
    display: none;
  }

  input[type="radio"]:checked+label, input[type="checkbox"]:checked+label {
    transition: .3s;
    background-color: $color-green;
    border-color: $color-green;
    color: $color-black;
  }
}

.c-login__password {
  display: flex;
  flex-direction: column;
}

.highlight {
  background-image: linear-gradient(transparent 15px, rgba($color-grey-dark, .3) 10px);
  transition: .3s;
  font-weight: bold;

  &:hover {
    background-image: linear-gradient(transparent -15px, rgba($color-grey-dark, .3) -10px);
  }
}

.warning {
  color: $color-red;
}


.padding-bottom-2 {
  padding-bottom: 2rem;
}


.dropdown-section {
  .dropdown{
    position: relative;
    display: inline-block;
    color: $color-grey-dark;
  }

  input[type=checkbox]{
    display: none;
  }

  .dropdown-container{
    position: absolute;
    list-style: none;
    text-align: left;
    width: 32rem;
    z-index: 1;
    margin: 0;
    padding: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    display: none;
    background: $color-white;
    padding: 1rem;
  }

  .dropdown-container li{
    padding: 1rem;
    background-color: #fff;
    color: #4FB9A7;
    margin-bottom: 1px;
    cursor: pointer;
  }

  .dropdown-container li:hover{
    background-color: #4FB9A7;
    color: #FFF;
  }

  .dropdown-container li a{
    color: inherit;
    text-decoration: none;
  }

  input[type=checkbox]:checked ~ label {
    background-color: #3D88BD;
  }

  input[type=checkbox]:checked ~ div {
    display: flex;
  }

  select {
    width: 90%;
    margin-top: 1rem;
    padding: 0.2rem;
  }

  .button-dropdown {
    border: 0;
    padding: 0.6rem 0.9rem;
    border-radius: 0.3em;
    color: #000000;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    background-color: $color-grey;
  }


}

#matches-container {
  margin-bottom: 2rem;
  padding: 0;
  background: none;
}

.match-container {
  padding: 2rem;
  margin-bottom: 0.5rem;
  background-color: #2F2F2F;
}

.language-container {
  display: flex;
  padding-bottom: 2rem;

  p {
    font-size: 0.8rem;
    background-color: $color-grey;
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    margin-right: 1rem;
  }
}