<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (typeof css != 'undefined') { %>
    <link href="/css/<%= css %>.css" rel="stylesheet" type="text/css">
  <% } %>
  <title><%= title %></title>
</head>

