<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {
  title: "discover",
  css: "discover"
})%>

<body>
    <main class="discover-main">
        <section class="discover-section">
            <script src="commandList.js"></script>
            <script src="commandAutoComplete.js"></script>


            <% if (message) {
              if (message.type === 'success') { %>
                <p class="succes"> <%= message.message %> </p>
            <% } else { %>
                <p class="error"> <%= message.message %> </p>
            <% }} %>
            <form autocomplete="off">
                <label for="command-input">/</label>
                <input autocomplete="off" name="command" id="command-input" class="command-bar" type="text" placeholder="command" oninput=showCommandList() onfocus=showCommandList() onblur=hideCommandList()>
                <button formmethod="post">run</button>
            </form>
            <label for="command-input"><ol id="auto-complete"></ol></label>
            <noscript>
              JavaScript is disabled > implement something that works without js.
            </noscript>

            <article class="discover-info">
                <h2>Voornaam Achternaam</h2>
                <p>Professional Fullstack Developer</p>
            </article>

            <article class="discover-language">
                <article class="language-option">
                    <p>Languages I know:</p>
                    <div>
                        <button>Javascript</button>
                        <button class="green-btn">Python</button>
                    </div>
                </article>

                <article class="language-option">
                    <p>Languages I am interested in:</p>
                    <div>
                        <button class="green-btn">Javascript</button>
                        <button>Python</button>
                        <button class="green-btn">.NET</button>
                    </div>
                </article>
            </article>

            <article class="button-container">
                <button>/ skip</button>
                <button class="green-btn">/ match</button>
            </article>
        </section>
    </main>
</body>
</html>
