<link href="/css/login.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="c-login">
  <div class="c-login-container">
    <h1 class="c-login__greeting">Hi there!</h1>
    <div class="c-login__input-container">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" autocomplete="off" >
      <label for="pass">Password:</label>
      <input type="password" name="pass" id="pass">
    </div>
    <div class="c-login__button-container">
      <%- include('partials/button', 
        {
          classes: "c-login__register-button",
          type: "secondary", 
          label: "Sign up", 
          url:"register"
        }  
      )%>
      <%- include('partials/button', 
        {
          classes: "c-login__login-button",
          type: "primary", 
          label: "Login", 
          url:"#"
        }  
      )%>
    </div>
  </div>
</div>