<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {
  title: "Homepage",
  css: "login"
})%>


<body>
  <main>
  // <%= user.name ? user.name : '' %>
    <form action="profile" method="POST" class="c-login">
      <div class="c-login-container">
        <h1 class="c-login__greeting">Hi there!</h1>
        <div class="c-login__input-container">
          <label for="lemail">email:</label>
          <input type="email" name="email" id="lemail" required>
          <label for="lpassword">password:</label>
          <input type="password" name="password" id="lpassword" required>
        </div>
        <div class="c-login__button-container">

          <%- include('partials/button', 
            {
              classes: "c-login__register-button",
              type: "secondary", 
              label: "Sign up", 
              url:"register"
            }  
          )%>

          <button type="submit">Login</button>
        </div>
      </div>
    </form>
  </main>
</body>

</html>