<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/login" method="post">
    <h1>Login</h1>
    <label for="lemail">email:</label>
    <input type="email" name="email" id="lemail">
    <label for="lpassword">password:</label>
    <input type="password" name="password" id="lpassword">
    <button type="submit">Login</button>
  </form>

  <form action="/register" method="post">
    <h1>Register</h1>
    <label for="remail">email:</label>
    <input type="email" name="email" id="remail">
    <label for="rpassword">password:</label>
    <input type="password" name="password" id="rpassword">
    <button type="submit">Register</button>
  </form>

</body>

</html>