<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {
    title: "Profile",
    css: "login"
  })%>

<body>
  <header>
    <a href="discover"><img src="icons/compass.svg">Discover</a>
    <h1>Nerdr.match()</h1>
    <a href="profile"><img src="icons/profile.svg">Profile</a>
  </header>
  <main>
    <form action="/update" method="post" class="c-login">
      <div class="c-login__input-container">
        <h3 class="c-login__subheader">What skill level are you looking for?</h3>
        <div class="c-login__radio-container">
          <input type="radio" name="skillLevel" value="amateur" id="amateur">
          <label for="amateur">Amateur</label>

          <input type="radio" name="skillLevel" value="intermediate" id="intermediate">
          <label for="intermediate">Intermediate</label>

          <input type="radio" name="skillLevel" value="expert" id="expert">
          <label for="expert">Expert</label>
        </div>

        <!-- <h3 class="c-login__subheader">What occupation are you looking for?</h3>
        <div class="c-login__radio-container">
          <input type="radio" name="occupation" value="frontEnd" id="frontEnd">
          <label for="frontEnd">Front-end</label>

          <input type="radio" name="occupation" value="backEnd" id="backEnd">
          <label for="backEnd">Back-end</label>

          <input type="radio" name="occupation" value="fullStack" id="fullStack">
          <label for="fullStack">Full-stack</label>
        </div>

        <h3 class="c-login__subheader">What languages are you interested in?</h3>
        <div class="c-login__radio-container">
          <input type="checkbox" name="languages" value="Javascript" id="javascript">
          <label for="javascript">Javascript</label>

          <input type="checkbox" name="languages" value="Java" id="java">
          <label for="java">Java</label>

          <input type="checkbox" name="languages" value="C" id="c">
          <label for="c">C</label>

          <input type="checkbox" name="languages" value="Python" id="python">
          <label for="python">Python</label>

          <input type="checkbox" name="languages" value=".NET" id=".NET">
          <label for=".NET">.NET</label>
        </div> -->
        <div class="c-login__button-container">
          <button class="c-login__register-button" type="submit">Change</button>
        </div>
      </div>
    </form>
  </main>
</body>

</html>
