<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logged in</title>
</head>

<body>

  <form action="/update" method="post">
  <h1>Hello <%- query.firstName %> <%- query.lastName %></h1>
  <p>
    Your prefences are: <strong> <%- query.pref %></strong>
  </p>
  <label for="prefs">Change preference:</label>
  <input type="text" id="prefs" name="prefs" placeholder="Your new preference" required>
  <button type="submit">Change</button>
    
    <p>
      Your email is: <strong> <%- query.email %></strong>
    </p>
  </form>

  <a href="/logout">Log out</a>
</body>

</html>