<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {
  title: "Register",
  css: "login"
})%>

  <body>
    <main>
      <form action="/register/4" method="post" name="registerForm" onsubmit="return validateForm()" class="c-login">
        <div class="c-login-container">
          <h1 class="c-login__greeting">What are you looking for?</h1>
          <div class="c-login__input-container">

            <h2 class="c-login__subheader">Skill level</h2>
            <div class="c-login__radio-container">
              <input type="radio" name="skillLevel" value="amateur" id="amateur" required>
              <label for="amateur">Amateur</label>

              <input type="radio" name="skillLevel" value="intermediate" id="intermediate" required>
              <label for="intermediate">Intermediate</label>

              <input type="radio" name="skillLevel" value="expert" id="expert" required>
              <label for="expert">Expert</label>
            </div>


            <h2 class="c-login__subheader">Occupation</h2>
            <div class="c-login__radio-container">
              <input type="radio" name="occupation" value="frontend" id="frontend" required>
              <label for="frontend">Front-end</label>

              <input type="radio" name="occupation" value="backend" id="backend" required>
              <label for="backend">Back-end</label>

              <input type="radio" name="occupation" value="full-stack" id="full-stack" required>
              <label for="full-stack">Full-stack</label>
            </div>

            <h2 class="c-login__subheader">Language(s)</h2>
            <div class="c-login__radio-container">
              <input type="checkbox" name="languages" value="javascript" id="javascript">
              <label for="javascript">javascript</label>

              <input type="checkbox" name="languages" value="java" id="java">
              <label for="java">Java</label>

              <input type="checkbox" name="languages" value="c" id="c">
              <label for="c">C</label>

              <input type="checkbox" name="languages"value="python"  id="python">
              <label for="python">Python</label>

              <input type="checkbox" name="languages" value=".NET" id=".NET">
              <label for=".NET">.NET</label>
            </div>

          </div>
          <div class="c-login__button-container">
            <a class="button--secondary" href="/register/2">Back</a>
            <button type="submit">Register</button>
          </div>
        </div>
      </form>
    </main>

  </body>
  <script>
    function validateForm(){
    const checkboxes = document.querySelectorAll('input[type=checkbox]');
    let counter = 0 
    checkboxes.forEach(i => {
      return !i.checked ? counter++ : true
    })
    return counter == checkboxes.length ? false : true 
    }
  </script>
</html>
