<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {
  title: "Register",
  css: "login"
})%>

<body>
  <main>
    <form onsubmit="return validateForm()" method="POST" name="registerForm" class="c-login">
      <div class="c-login-container">
        <h1 class="c-login__greeting">Register here!</h1>
        <div class="c-login__input-container">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" autocomplete="off" required>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required>
          <label for="password">Repeat your password:</label>
          <input type="password" name="rpassword" id="rpassword" required>
        </div>
        <div class="c-login__button-container">
          <%- include('partials/button', 
            {
              classes: "c-login__login-button",
              type: "secondary", 
              label: "back", 
              url:"/"
            }  
          )%>
          <button type="submit">Next</button>
        </div>
      </div>
    </form>
  </main>

</body>
  <script>
    function validateForm(){
      let x = document.forms["registerForm"]["password"];
      let y = document.forms["registerForm"]["rpassword"];

      let errorMessage = document.createElement("span");
      errorMessage.textContent = 'Password does not match.'
      errorMessage.style.color = '#FF0000'

      if (x.value === y.value){
        return
      }else{
        y.after(errorMessage)
        return false
      }
    }
  </script>

</html>