<link href="/css/login.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="c-login">
  <div class="c-login-container">
    <h1 class="c-login__greeting">Register here!</h1>
    <div class="c-login__input-container">
      <label for="fname">Name:</label>
      <input type="text" name="fname" id="fname" autocomplete="off">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" autocomplete="off">
      <label for="pass">Password:</label>
      <input type="password" name="pass" id="pass">

      <h2 class="c-login__subheader">Do you like sports?</h2>
      <div class="c-login__radio-container">
        <div>
          <input type="radio" name="checkbox-sports" id="checkbox-sports-yes">
          <label for="checkbox-sports-yes">Yes</label>
        </div>
        <div>
          <input type="radio" name="checkbox-sports" id="checkbox-sports-no">
          <label for="checkbox-sports-no">No</label>
        </div>
        <div>
          <input type="radio" name="checkbox-sports" id="checkbox-sports-sometimes">
          <label for="checkbox-sports-sometimes">Sometimes</label>
        </div>
      </div>
    </div>
    <div class="c-login__button-container">
      <%- include('partials/button', 
      {
        classes: "c-login__login-button",
        type: "secondary", 
        label: "back", 
        url:"/"
      }  
    )%>
      <%- include('partials/button', 
        {
          classes: "c-login__register-button",
          type: "primary", 
          label: "Sign up", 
          url:"#"
        }  
      )%>
    </div>
  </div>
</div>