<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {
  title: "Register",
  css: "login"
})%>

  <body>
    <main>
      <form action="/register/3" method="post" name="registerForm" onsubmit="return validateForm()" class="c-login">
        <div class="c-login-container">
        <% if (query) { %>
          <h1 class="c-login__greeting">Let's get to know you, <%= query.fname %></h1>
        <% } %>

          <div class="c-login__input-container">

            <h2 class="c-login__subheader">What skill level?</h2>
            <div class="c-login__radio-container">
              <div>
                <input type="radio" name="skillLevel" value="amateur" id="amateur">
                <label for="amateur">Amateur</label>
              </div>
              <div>
                <input type="radio" name="skillLevel" value="intermediate" id="intermediate">
                <label for="intermediate">Intermediate</label>
              </div>
              <div>
                <input type="radio" name="skillLevel" value="expert" id="expert">
                <label for="expert">Expert</label>
              </div>
            </div>

            <h2 class="c-login__subheader">What is your occupation?</h2>
            <div class="c-login__radio-container">
              <div>
                <input type="radio" name="occupation" value="frontend" id="frontend">
                <label for="frontend">Front-end</label>
              </div>
              <div>
                <input type="radio" name="occupation" value="backend" id="backend">
                <label for="backend">Back-end</label>
              </div>
              <div>
                <input type="radio" name="occupation" value="full-stack" id="full-stack">
                <label for="full-stack">Full-stack</label>
              </div>
            </div>


            <h2 class="c-login__subheader">What are your favorite languages?</h2>
            <div class="c-login__radio-container">
              <input type="checkbox" name="languages" value="javascript" id="javascript">
              <label for="javascript">Javascript</label>
              
              <input type="checkbox" name="languages" value="java" id="java">
              <label for="java">Java</label>

              <input type="checkbox" name="languages" value="c" id="c">
              <label for="c">C</label>

              <input type="checkbox" name="languages"value="python"  id="python">
              <label for="python">Python</label>

              <input type="checkbox" name="languages" value=".NET" id=".NET">
              <label for=".NET">.NET</label>
            </div>

          </div>
          <div class="c-login__button-container">
            <%- include('partials/button', 
              {
                classes: "c-login__login-button",
                type: "secondary", 
                label: "back", 
                url:"/register/1"
              }  
            )%>
            <button type="submit">Next</button>
          </div>
        </div>
      </form>
    </main>

  </body>
</html>