<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head', {
    title: "Register",
    css: "login",
    js: 'validatePasswords'
  })%>

  <body>
    <main>
      <form action="/register/2" method="post" name="registerForm" onsubmit="return validatePasswords()" class="c-login">
        <div class="c-login-container">
          <% if (typeof query !== 'undefined') { %>
            <h1 class="c-login__greeting warning"> <%= query.errorMessage %> </h1>
          <% } else { %>
            <h1 class="c-login__greeting">Register here!</h1>
          <% } %>
          <div class="c-login__input-container">
            <label for="fname">First name:</label>
            <input type="text" name="fname" id="fname" autocomplete="off" required>

            <label for="lname">Last name:</label>
            <input type="text" name="lname" id="lname" autocomplete="off" required>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" autocomplete="off" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>

            <label for="password">Repeat your password:</label>
            <input type="password" name="rpassword" id="rpassword" required>
          </div>
          <div class="c-login__button-container">
            <a class="button--secondary" href="/">Cancel</a>
            <button type="submit">Next</button>
          </div>
        </div>
      </form>
    </main>

  </body>

</html>
