button {
  border: 0;
  width: 110px;
  height: 50px;
  border-radius: 7px;
  font-size: 1em;
  color: white;
  cursor: pointer;
  background-color: #1946E5;
  transition: .3s; }
  button:hover {
    background-color: #1438b7; }

.button {
  display: block;
  width: 110px;
  height: 50px;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  .button--primary {
    background-color: #1946E5; }
    .button--primary:hover {
      transition: .3s;
      background-color: #1438b7; }
  .button--secondary {
    background-color: #7388A6; }
    .button--secondary:hover {
      transition: .3s;
      background-color: #596e8d; }
  .button--ghost {
    background-color: transparent;
    border: 3px solid #7388A6;
    color: #7388A6; }
    .button--ghost:hover {
      transition: .3s;
      background-color: #596e8d;
      color: #ffffff; }
  .button--danger {
    background-color: #ff4d4d; }
    .button--danger:hover {
      transition: .3s;
      background-color: #e60000; }
