button, a {
  border: 0;
  padding: 0.6rem 0.9rem;
  border-radius: 0.3em;
  color: #000000;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  background-color: #00FF00; }
  button:hover, a:hover {
    background-color: #00cc00; }

.button--primary {
  background-color: #00FF00; }
  .button--primary:hover {
    background-color: #00cc00; }

.button--secondary {
  background-color: #DADADA; }
  .button--secondary:hover {
    background-color: #c1c1c1; }

.button--ghost {
  background-color: transparent;
  border: 3px solid #DADADA;
  color: #DADADA; }
  .button--ghost:hover {
    background-color: #c1c1c1;
    color: #ffffff; }

.button--danger {
  color: #000000;
  background-color: #ff3333; }
  .button--danger:hover {
    background-color: #cc0000; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem; }

html {
  background-color: #222424;
  color: #ffffff;
  font-size: calc(60% + 0.8vmin); }

body {
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 30em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem; }
  header h1 {
    margin: 0;
    padding: 0; }
  header a {
    font-size: 0.8rem;
    background-color: transparent;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    padding: 0; }
    header a:hover {
      background-color: transparent;
      font-weight: bold;
      opacity: 1; }
    header a img {
      width: 2rem;
      height: 2rem; }

main {
  width: 100%; }

main > * {
  padding: 2rem;
  margin-bottom: 0.5rem;
  background-color: #2F2F2F; }

h1 {
  font-size: 1.8rem;
  color: #00cc00;
  margin-bottom: 1rem; }
  h1:hover {
    color: #00FF00;
    text-shadow: 0px 0px 5px rgba(0, 255, 0, 0.3); }

h2 {
  font-size: 1.4rem;
  color: #00FF00;
  margin-bottom: 0.2rem; }

h3 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 0.2rem; }

p {
  color: #ffffff;
  margin-bottom: 0.5rem; }

input {
  background-color: #ffffff;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0; }

.command-bar {
  background-color: transparent;
  padding: 0px; }
  .command-bar p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem; }
  .command-bar .error {
    color: #FF0000; }
  .command-bar form {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: baseline; }
    .command-bar form *, .command-bar form *:focus {
      border: none;
      outline: none;
      font-size: 0.8rem; }
    .command-bar form label {
      padding-left: 0.5rem;
      color: #2F2F2F; }
    .command-bar form button {
      margin: 0;
      border-radius: 0;
      cursor: pointer; }

#auto-complete {
  background-color: #ffffff;
  color: #000000;
  list-style: none;
  position: absolute; }
  #auto-complete li {
    font-size: 0.8rem;
    padding: 0.5rem;
    border-bottom: 1px solid #DADADA;
    cursor: pointer; }
  #auto-complete li:hover {
    background-color: #e6e6e6; }

#command-input {
  width: 100%;
  padding-left: 0;
  margin: 0; }

.discover-info {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column; }

.discover-language {
  margin-top: 0.4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column; }
  .discover-language .language-option {
    padding-bottom: 2rem; }
  .discover-language .language-container {
    display: flex;
    flex-direction: row; }
    .discover-language .language-container * {
      font-size: 0.8rem;
      background-color: #DADADA;
      color: #000000;
      padding: 0.5rem 1rem;
      border-radius: 3rem;
      margin-right: 1rem; }
    .discover-language .language-container *.language-match {
      background-color: #00FF00; }

.button-container {
  margin-top: 0.4rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between; }
