* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace; }

.discover-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222424; }
  .discover-main p {
    color: #fff;
    padding: 0.3rem 0;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; }
  .discover-main button {
    background-color: #DADADA;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right: 0.4rem; }
  .discover-main .green-btn {
    background-color: #00FF00; }
  .discover-main .error {
    color: #FF0000; }
  .discover-main form {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    color: #222424;
    align-items: baseline; }
    .discover-main form *, .discover-main form *:focus {
      border: none;
      outline: none;
      font-size: 0.8rem; }
    .discover-main form label {
      padding-left: 0.5rem;
      color: #2F2F2F; }
    .discover-main form input {
      padding-left: 0px; }
    .discover-main form button {
      margin: 0px;
      border-radius: 0px;
      cursor: pointer; }
    .discover-main form button:hover {
      background-color: #c1c1c1; }

#auto-complete {
  background-color: #fff;
  font-size: 0.8rem;
  list-style: none;
  position: absolute; }
  #auto-complete li {
    padding: 0.5rem;
    border-bottom: 1px solid #DADADA;
    cursor: pointer; }
  #auto-complete li:hover {
    background-color: #e6e6e6; }

.discover-section {
  width: 25rem; }

.command-bar {
  width: 100%;
  padding: 0.5rem 1rem; }

.discover-info {
  background-color: #2F2F2F;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column; }
  .discover-info h2 {
    color: #00FF00;
    font-family: 'Roboto Mono', monospace; }

.discover-language {
  background-color: #2F2F2F;
  margin-top: 0.4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column; }
  .discover-language .language-option {
    padding-bottom: 2rem; }

.button-container {
  background-color: #2F2F2F;
  margin-top: 0.4rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between; }
