.c-register {
  width: 600px;
  background-color: #262626;
  display: flex;
  justify-content: center;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.c-register-container {
  width: 70%;
}

.c-register__greeting {
  color: #ffffff;
  text-align: center;
}

.c-register__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-register__input-container input {
  width: 100%;
  background-color: transparent;
  margin: 10px;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.c-register__input-container label {
  align-self: flex-start;
  color: #ffffff;
}

.c-register__button-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}